# Vim noise
*.swp

# node, npm, etc etc
node_modules/
npm-debug.log
bower_components/

# Typescript compilation output
/build/

/jest/
/plugin/
background.js

*.zip
*.xpi
*.crx

# Just noise
*~
*.orig
.DS_Store
